# config.yaml
# === Subject info ===
subinfo_fields:
  - name: subject_id
    type: int
    constraints:
      min: 101
      max: 999
      digits: 3

  - name: session_name
    type: string

  - name: experimenter
    type: string

  - name: gender
    type: choice
    choices: [Male, Female]

  - name: race
    type: choice
    choices: [Caucasian, African-American, Asian, Hispanic, Native-American]

subinfo_mapping:
    subject_id: "Subject ID (three digits)"
    session_name: "Session Name"
    experimenter: "Experimenter"
    gender: "Gender"
    race: "Race"
    Male: "Male"
    Female: "Female"
    Caucasian: "White"
    African-American: "African American"
    Asian: "Asian"
    Hispanic: "Hispanic"
    Native-American: "Native American"
    registration_failed: "Registration failed."
    registration_successful: "Registration successfulÔºÅ"
    invalid_input: "Field {field} input is invalid."


# === Window settings ===
window:
  size: [1920, 1080]
  monitor: testMonitor
  units: deg
  screen: 1
  bg_color: gray
  fullscreen: True

# === Task-level settings ===
task:
  total_blocks: 2
  total_trials: 10
  trial_per_block: 5
  conditions: [win, lose, neut]
  key_list: [down]
  delta: 10
  seed_mode: "same_across_sub"


# === Stimuli (for MID task) ===
stimuli:
  fixation:
    type: text
    text: "+"
    color: white

  win_cue:
    type: circle
    radius: 3
    fillColor: magenta
    lineColor: black

  lose_cue:
    type: rect
    width: 6
    height: 6
    fillColor: yellow
    lineColor: black

  neut_cue:
    type: polygon
    edges: 3
    size: 6
    fillColor: cyan
    lineColor: black

  win_target:
    type: circle
    radius: 3
    fillColor: black
    lineColor: black

  lose_target:
    type: rect
    width: 6
    height: 6
    fillColor: black
    lineColor: black

  neut_target:
    type: polygon
    edges: 3
    size: 6
    fillColor: black
    lineColor: black

  win_hit_feedback:
    type: text
    text: "You earned 10 points!"
    color: white

  win_miss_feedback:
    type: text
    text: "You earned 0 points."
    color: white

  lose_hit_feedback:
    type: text
    text: "You earned 0 points."
    color: white

  lose_miss_feedback:
    type: text
    text: "You earned -10 points."
    color: white

  neut_hit_feedback:
    type: text
    text: "You earned 0 points."
    color: white

  neut_miss_feedback:
    type: text
    text: "You earned 0 points."
    color: white

  
  block_break:
    type: text
    text: |
      Take a break! 
      When you are ready, press space to continue.
    color: white

  block_feedback:
    type: text
    text: |
      Block {block_num} of {total_blocks} completed. 
      Accuaracy: {accuracy:.2f}
      Reward: {reward:.2f}
      Press space to continue.
    color: white

  instruction_text:
    type: text
    text: |
      In this task, you will see a series of cues and targets. 
      Your task is to respond to the cues as quickly as possible. 
      If you respond to a cue, you will earn 10 points. 
      If you do not respond to a cue, you will earn 0 points. 
      Press space to continue.
    color: white

  instruction_image1:
    type: image
    image: ./assets/instruction_iamge1.bmp

  instruction_image2:
    type: image
    image: ./assets/instruction_image2.bmp

  good_bye:
    type: text
    text: |
      Thank you for participating!
      Your final reward is {reward:.2f}.
      Press space to exit.
    color: white

# === Timing & Adaptivity ===
timing:
  fixation_duration: [0.8, 1.0]
  cue_duration: [0.8, 1.0]
  anticipation_duration: [0.8, 1.0]
  feedback_duration: 1.5
  iti_duration: [0.6, 0.8]

controller:
  initial_duration: 0.3
  min_duration: 0.05
  max_duration: 0.5
  step: 0.05
  target_accuracy: 0.66
  condition_specific: true

triggers:
  win_cue_onset: 10
  lose_cue_onset: 20
  neut_cue_onset: 30

  win_anti_onset: 11
  lose_anti_onset: 21
  neut_anti_onset: 31

  win_target_onset: 12
  lose_target_onset: 22
  neut_target_onset: 32

  win_hit_fb_onset: 13
  lose_hit_fb_onset: 23
  neut_hit_fb_onset: 33
  
  win_miss_fb_onset: 14
  lose_miss_fb_onset: 24
  neut_miss_fb_onset: 34

  win_key_press: 15
  lose_key_press: 25
  neut_key_press: 35

  win_no_response: 16
  lose_no_response: 26
  neut_no_response: 36

  exp_onset: 98
  exp_end: 99

  block_onset: 100
  block_end: 101

  fixation_onset: 1


